
/******************* Tela de Ideias ****************/


/* --------------Globais------------- */

body{
    background: #e5e5e5;
    color: #252828;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

a{
    font-weight: bold;
    color: crimson;
    text-decoration: none;
    margin-right: 16px;
}

a:hover{
    text-decoration: underline
}

p, .description{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1px;
}



/* -------------Especificos----------- */


body #container{
    width: 90%;
    max-width: 980px;
    margin: 80px auto;
    display: flex;
}

#intro{
    width: 300px;
    margin-right: 20px;
}

main{
    margin: 32px 0;
}

#buttons{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;
}

button{
    background: none;
    border: none;
    color: crimson;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    letter-spacing: 0.2px;

    cursor: pointer;
    outline: none;
}

button:hover{
    text-decoration: underline;
}


button.fat{
    text-decoration: none;    
    background: crimson;
    color: #e5e5e5;

    width: 150px;
    height: 40px;

    border-radius: 6px;
    box-shadow: 4px 8px 10px rgba(255, 0, 92, 0.16);

}

footer{
    text-align: center;

    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.2px;

    color: #777
}

footer a{
    text-decoration: none;
    opacity: 0.7;
}

.idea{
    display: flex;
    background: white;
    margin-bottom: 16px;

    padding: 32px;

    border-radius: 8px;
    box-shadow: 04px 08px 16px -8px black;
}

.idea .content{
	width: 100%;
}

.idea img{
    width: 60px;
    height: 60px;
    margin-right: 32px;
}

.idea h3{
    margin: 0px;
}

.idea p{
    margin-top: 8px 0px;
    color: #777;
}

.idea .description{
    margin: 16px 0px;
}

#tagA{
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}


/******************* Tela Nova Ideia ************/

#modal{
    position: absolute;
    top: 0;

    width: 100vw;
    height: 100vh;


    display: flex;
    justify-content: center;

    transition: 600ms;
   
}

#modal .content{
    background: crimson;
    margin-top: 60px;
    color: white;
    border-radius: 6px;
}

#modal .content h1{
    text-align: center;
    text-transform: uppercase;
}


form{
    width: 80%;
    max-width: 600px;

    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;


    gap: 20px;
}

form div:nth-child(3), 
form div:nth-child(4),
form div:nth-child(5) {
    grid-column: span 2;
}

form input, textarea{
    width: 100%;
    padding: 6px;
    border-radius: 6px;

    border: 1px solid rgba(141, 15, 50, 0.5);
    font-size: 12px;

    box-sizing: border-box; 
}

form label{
    font-weight: 600;
    line-height: 3px;
    letter-spacing: 1px; 
}

.content button{
    background: white;
    width: 150px;
    height: 40px;

    border-radius: 6px;
    margin-top: 12px;
    grid-column: 2;
    justify-self: center;

    transition: 400ms;
}

form button:hover{
    text-decoration: none;
    background: rgb(13, 243, 243);
    color: white;
}

form a{
	width: 150px;
    height: 40px;
    margin-top: 23px;
	text-align: center;
    color: white;
    
    grid-column: 1;
    transition: 400ms;
   
}

#modal.hide{
    opacity: 0;
    visibility: hidden;
}